.buyers-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px 0; /* Add spacing from the top and bottom */
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background: linear-gradient(135deg, #9d174d, #00000087);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 45px 40px; /* Increase top margin to create space from the navbar */
  max-width: calc(100% - 80px);
}

.hero-logo {
  margin: 1rem 0; /* Add space around the logo */
  max-width: 175px; /* Adjust the logo size */
  width: 100%;
  height: auto;
  display: block; /* Ensure proper alignment */
}

.hero-phone-number {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #fff;
}

.hero-phone-number a {
  color: #fbb034;
  text-decoration: none;
  font-weight: bold;
}

.hero-phone-number a:hover {
  text-decoration: underline;
}

.hero-text {
  max-width: 50%; /* Ensure the text doesn't stretch too far */
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.info-section {
  padding: 2rem;
  background: #fff;
  text-align: center;
  border-radius: 10px; /* Keep consistent with other card styling */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}
