/* Title and Subtitle Styling */
.hero-content .title {
  margin-bottom: 10px;
  text-shadow: -7px -4px 2px rgba(0, 0, 0, 0.268);
  font-size: 2.8rem;
  font-weight: 800;
}

/* Subtitle Styling */
.hero-content .subtitle-line {
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  white-space: pre-line;
}

/* Animation for the Underlines */
.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::before,
.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Thinner underline */
  background-color: var(--secondary-light); /* Cream color */
  transition: width 1.2s ease-in-out;
}

.underline-animation::before {
  bottom: 0;
  left: 0;
  transition-delay: 0.3s; /* Delay for the first underline */
}

.underline-animation::after {
  bottom: -5px; /* Space between the two lines */
  left: 0;
  transition-delay: 0.6s; /* Delay for the second underline */
}

.underline-animation.underline-animate::before {
  width: 100%;
}

.underline-animation.underline-animate::after {
  width: 100%;
}
